body{
	background: #e4e4e4;
}
div{
	    width: 1000px;
    margin-left: auto;
    background: darkseagreen;
    margin-right: auto;
    padding: 50px;
}


img{
	max-width: 100%;
}
h1{
	    font-size: 35px;
	        margin-top: 0;

}
span{
	color: #fbbbbb;
    text-transform: uppercase;
    text-shadow: 6px -21px 4px #706494
}
p{
	font-size: 28px;
	line-height: 1.1
}